/* TOP MENU WITH USER FACES */
#containerUserFaces img, #containerUserFaces video{
	width: 75px;
}
.slick-prev, .slick-next {
	z-index: 1;
}
.slick-prev {
	left: -3px;
}

.slick-next {
	right: -5px;
}

.slick-prev:before, .slick-next:before {
	color: black;
	font-size: 14px;
}

.raised-hand img, .raised-hand video {
	border: 2px solid red;
}

/* CONTAINER FOR BIG VIDEO */

#containerBigVideo video {
	width: 100%;
}

/* CHAT STYLES */
#chatContainer div img {
	width: 20px;
	height: 20px;
}

.emoji-wysiwyg-editor {
	max-width: 145px;
	height: 30px;
	overflow-x: hidden;
	overflow-y: hidden; 
	white-space: pre-wrap;
	word-wrap: normal;
}

/* CHANGE THE DEFAULT WHITEBOARD CSS */

#modalRoomCredentials input {
	height: 34px;
}