.icon-add-file{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/add-file.png') no-repeat center center;
}
.icon-image-optimizer{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/optim.png') no-repeat center center;
}
.icon-whiteboard{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/whiteboard.png') no-repeat center center;
}
.icon-image-editor{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/image-editor.png') no-repeat center center;
}
.icon-tools{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/tools.png') no-repeat center center;
}
.icon-keyboard{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/keyboard.png') no-repeat center center;
}
.icon-library{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/library.png') no-repeat center center;
}
.icon-folder{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/folder.png') no-repeat center center;
}
.icon-error{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/error.png') no-repeat center center;
}
.icon-github{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/github.png') no-repeat center center;
}
.icon-version{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/version.png') no-repeat center center;
}
.icon-v-terminal{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/vertical.png') no-repeat center center;
}
.icon-h-terminal{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/horizontal.png') no-repeat center center;
}
.icon-color{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/color.png') no-repeat center center;
}
.icon-exit{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/exit.png') no-repeat center center;
}
.icon-delete-file{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/delete-file.png') no-repeat center center;
}
.icon-rename-file{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/rename-file.png') no-repeat center center;
}
.icon-download-file{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/download-file.png') no-repeat center center;
}
.icon-upload-file{
	background:url('https://tools.tutorialspoint.com/theme/css/cons/upload-file.png') no-repeat center center;
}
.icon-print-file{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/print-file.png') no-repeat center center;
}
.icon-save-file{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/save-file.png') no-repeat center center;
}
.icon-add-dir{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/add-dir.png') no-repeat center center;
}
.icon-create-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/create-project.png') no-repeat center center;
}
.icon-save-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/save-project.png') no-repeat center center;
}
.icon-refresh-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/refresh-project.png') no-repeat center center;
}
.icon-execute-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/execute-project.png') no-repeat center center;
}
.icon-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/project.png') no-repeat center center;
}
.icon-home{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/home.png') no-repeat center center;
}
.icon-file{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/file.png') no-repeat center center;
}
.icon-edit{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/edit.png') no-repeat center center;
}
.icon-terminal{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/terminal.png') no-repeat center center;
}
.icon-about{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/about.png') no-repeat center center;
}
.icon-blank{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/blank.gif') no-repeat center center;
}
.icon-blank{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/edit_add.png') no-repeat center center;
}
.icon-clear{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/save-file.png') no-repeat center center;
}
.icon-copy{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/copy.png') no-repeat center center;
}
.icon-paste{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/paste.png') no-repeat center center;
}
.icon-select{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/select.png') no-repeat center center;
}
.icon-dropbox{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/dropbox.png') no-repeat center center;
}
.icon-cut{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/cut.png') no-repeat center center;
}
.icon-delete{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/delete.png') no-repeat center center;
}
.icon-export-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/export-project.png') no-repeat center center;
}
.icon-import-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/import-project.png') no-repeat center center;
}
.icon-share-project{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/share-project.png') no-repeat center center;
}
.icon-find{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/find.png') no-repeat center center;
}
.icon-replace{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/replace.png') no-repeat center center;
}
.icon-view{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/view.png') no-repeat center center;
}
.icon-google-drive{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/google-drive.png') no-repeat center center;
}
.icon-one-drive{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/one-drive.png') no-repeat center center;
}
.icon-compileonline{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/compileonline.png') no-repeat center center;
}
.icon-editor-theme{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/editor-theme.png') no-repeat center center;
}
.icon-editor-type{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/editor-type.png') no-repeat center center;
}
.icon-font-size{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/font-size.png') no-repeat center center;
}
.icon-tab-size{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/tab-size.png') no-repeat center center;
}
.icon-soft-wrap{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/soft-wrap.png') no-repeat center center;
}
.icon-show-invisible{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/show-invisible.png') no-repeat center center;
}
.icon-hide-invisible{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/hide-invisible.png') no-repeat center center;
}
.icon-show-gutter{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/show-gutter.png') no-repeat center center;
}
.icon-hide-gutter{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/hide-gutter.png') no-repeat center center;
}
.icon-word{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/word.png') no-repeat center center;
}
.icon-excel{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/excel.png') no-repeat center center;
}
.icon-powerpoint{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/powerpoint.png') no-repeat center center;
}
.icon-xml{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/xml.png') no-repeat center center;
}
.icon-json{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/json.png') no-repeat center center;
}
.icon-binary{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/binary.png') no-repeat center center;
}
.icon-zip{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/zip.png') no-repeat center center;
}
.icon-text{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/text.png') no-repeat center center;
}
.icon-pdf{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/pdf.png') no-repeat center center;
}
.icon-image{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/image.png') no-repeat center center;
}
.icon-java{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/java.png') no-repeat center center;
}
.icon-javascript{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/javascript.png') no-repeat center center;
}
.icon-login{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/login.png') no-repeat center center;
}
.icon-signup{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/signup.png') no-repeat center center;
}
.icon-password{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/password.png') no-repeat center center;
}
.icon-logout{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/logout.png') no-repeat center center;
}
.icon-email{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/email.png') no-repeat center center;
}
.icon-quota{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/quota.png') no-repeat center center;
}
.icon-ok{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/lock.png') no-repeat center center;
}


.icon-mini-add{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('https://tools.tutorialspoint.com/theme/css/icons/large_chart.png') no-repeat center center;
}