.help-acc { background:#fff; padding:8px 10px; margin:0px 0px; border-bottom:1px dashed #ccc; }
.help-acc:hover { background:#A7F9C2; cursor:pointer; }
.help-acc:last-child { background:#fff; padding:8px 10px; margin:0px 0px; border-bottom:0px dashed #ccc; }
.help-acc:last-child:hover { background:#fdfdfd; padding:8px 10px; margin:0px 0px; border-bottom:0px dashed #ccc; }
.help-acc a { color:#424242; font-size:13px; text-decoration:none; text-align:left; }
.panel-tool-min, .panel-tool-max, .panel-tool-collapse, .icon-save { display:none!important; }

.accordion{ border:none!important; background:none!important; }
.accordion .accordion-header{background:#f3f3f3; filter:none; height:30px!important; border:none; margin:0px; padding:0px; color:#424242; border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.accordion .panel { margin:2px 0px!important; }
.accordion .accordion-header-selected .panel-title { color:#424242; }
.accordion .panel-body { background:none!important; }
.accordion .panel-title { font-weight:normal!important; padding:7px 0px 0px 10px!important; font-size:13px!important; }
@font-face { font-family: 'FontAwesome'; src: url('../../fonts/fontawesome-webfont.eot?v=4.3.0'); src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }
body { margin:0px; padding:0px 0px; font-family:'Ubuntu',sans-serif; }
.whtboard { border-left:1px solid #ccc; height:17px; color:#000; font-size:80%; float:left; margin:21px 5px 0px 5px; padding:6px 0px 0px 5px; text-transform:uppercase; font-weight:bold; letter-spacing:6px;}
.panel-with-icon { padding-left:22px!important; }
.wrap { width:100%; margin:0px; padding:0px; }
.wrapLoader { width:100%; margin:0; /*height:550px;*/ position:absolute; background-color:transparent; opacity:.95; z-index:1000; display:none; }
.wr-main { width:100%; margin:4px 0px 0px 0px; padding:0px; background:#eee; }
.wr-main .wr-left { width:16%; float:left; height:100%;}
.wr-left { height:auto;}
.wr-rgt {height:20px;position:absolute!important; top:-5px!important; right:120px!important; float:right;}

.wr-main .wr-rgt-tog { width:100%; float:right; }
.wr-left .wr-lft-cont { min-height:1px; max-height:968px; margin:0px 0px 0px 0px; overflow:hidden; }
.wr-rgt .wr-rgt-cont {margin:0px 0px 0px 10px; padding:0px; right:18px!important; position:relative; background:transparent!important;border:none!important;position:relative;}
.wr-lft-cont .sub-default { margin:0px; padding:5px 0px 0px 0px; } 
.wr-lft-cont .sub-default .sub-default-lft { width:90%; margin:5px 2px 5px 3px; padding:17px 0px 10px 0px; text-align:center; background:#EEEEEE; border:1px solid #eee; border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; line-height:20px; cursor:pointer; } 
.wr-lft-cont .sub-default .sub-default-lft:hover { background:#eaeaea; }
.wr-lft-cont .sub-default a { color:#424242; text-decoration:none; font-size:140%; font-weight:normal; }
.wbitem { font-size:200%; }  
.subProperties {display:none;float:right; }
.sub-tools {width:100%!important; min-height:30px; margin:10px 0px 0px 0px!important; position:relative; right:43px;}
.sub-tools h4{ font-size:140%; font-weight:bold; text-align:center; margin:0px; padding:5px 5px 6px 5px; background:#f4f4f4; border-top:1px solid #eee; border-bottom:1px solid #DDD; }
.sub-tools p{ font-size:120%; color:#424242; margin:5px 0px 2px 5px; padding:3px 0px; text-align:left; text-transform:capitalize; font-weight:bold; }
.sub-tools p b { float:right; padding:0px 12px 0px 0px; margin:0px; }
.blck-bgpicker { background:#000; } .yellow-bgpicker { background:#ffc107; } .purple-bgpicker { background:#fff; } .magento-bgpicker { background:#E63466; }
.green-bgpicker { background:#025822; } .red-bgpicker { background:#f00; } .grey-bgpicker { background:#aaa4ab; } .white-bgpicker { background:#fff; }
.blck-bgpicker, .red-bgpicker, .green-bgpicker, .yellow-bgpicker, .white-bgpicker, .trash-bgpicker, .blue-bgpicker { width:15px; height:15px; border:1px solid #ccc; border-radius:60px; padding:4px; margin:3px 2px; }
 .blue-bgpicker { background:#0734D8; }
 .easyui-panel input[type="text"]{height:13px!important;}
 .fa-file-photo-o:before { content:"\f1c5"; font-family:'Fontawesome'; font-style:normal; }
 .fa-laptop:before { content:"\f109";font-family:'Fontawesome'; font-style:normal; }
/* css of top navigation */
.logo { float:left; margin:5px 10px 0px 10px; padding:0px; }
.topnav { background-color:#F2F2F2; background:-webkit-liear, near-gradient(top,#F7F7F7 0,#F2F2F2 100%); background: -o-linear-gradient(top,#F7F7F7 0,#F2F2F2 100%); background: linear-gradient(to bottom,#F7F7F7 0,#F2F2F2 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient; border-left:1px solid #bcbcbc; border-right:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; position:absolute; top:0px; z-index:999; }
.divider { border-bottom:1px dashed #70967C; width:95%; margin:2px auto!important; }
#stage{  width:100%; height:100%!important; padding:margin:0px 0px 0px 0px }
#center {background:#fff url(https://ryzhak.com/public/tutorialspoint-webrtc/images/worn-dots.png); overflow:hidden; }
/*  fontawesome css */
.fa-upload:before { content:"\f093"; font-family:'FontAwesome'; font-size:100%; font-style:normal; }
.fa-text-height:before { content:"\f034"; font-family:'FontAwesome'; font-size:100%; font-style:normal; }
.fa-download:before { content:"\f019"; font-family:'FontAwesome'; font-size:100%; font-style:normal; }
.fa-pencil:before { content: "\f040"; font-family:'FontAwesome'; font-size:100%; font-style:normal; font-weight:normal; }
.fa-hourglass-o:before { content:"\f250"; font-family:'FontAwesome'; font-size:100%; font-weight:normal; font-style:normal; }
.fa-hourglass-end:before { content:"\f253"; font-family:'FontAwesome'; font-size:100%; font-weight:normal; font-style:normal; }
.fa-circle:before { content:"\f111"; font-family:'FontAwesome'; font-size:100%; font-weight:normal; font-style:normal; }
.fa-eraser:before { content:"\f12d"; font-family:'FontAwesome'; font-size:100%; font-weight:normal; font-style:normal; }
.fa-align-right:before { content:"\f038"; font-family:FontAwesome; font-size:100%; font-weight:normal; font-style:normal; }
.fa-align-center:before { content:"\f037"; font-family:FontAwesome; font-size:100%; font-weight:normal; font-style:normal; }
.fa-align-left:before { content:"\f036"; font-family:FontAwesome; font-size:100%; font-weight:normal; font-style:normal; }
.fa-bold:before { content:"\f032"; font-family:FontAwesome; font-size:100%; font-weight:normal; font-style:normal; }
.fa-italic:before { content:"\f033"; font-family:FontAwesome; font-size:100%; font-weight:normal; font-style:normal; }
.fa-remove:before { content:"\f00d"; font-family:FontAwesome; font-size:100%; font-weight:normal; font-style:normal; }
.fa-code:before { content:"\f121"; font-family:FontAwesome; font-style:normal; font-size:100%; }
.fa-file-image-o:before { content:"\f1c5"; font-family:'FontAwesome'; font-size:100%; font-style:normal; font-weight:normal; }
.fa-trash:before {content:"\f1f8"; font-family:'FontAwesome'; font-size:160%; font-style:normal; position:relative; top:-3px;}
.trashh{position:relative; top:7px!important;}
.icon-plus:before { content:"\f067"; font-family:'FontAwesome'; font-size:130%; font-style:normal; position:relative; top:6px;}
.fa-plus:before {content:"\f067";font-family:'FontAwesome'; font-size:130%; font-style:normal;}
.fa-bars:before {content:"\f0c9";font-family:'FontAwesome'; font-size:130%; font-style:normal;}
.fa-question:before {content:"\f128";font-family:'FontAwesome'; font-size:174%; font-style:normal;}
/* end of fontawesome css */
.clear { clear:both; height:6px; }

/* css for slider */
.slider { width:94%; margin:10px 0px 10px 7px!important; padding:0px; position:relative; }
.slider-handle { background:#02541F; width:18px; height:18px; margin-top:-9px; border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px; -khtml-border-radius:60px; }
.slider-inner { height:3px; }
.eraser { font-size:110%; background-color:#fff; padding:5px 10px; border:1px solid #ccc; border-radius:4px; text-decoration:none; color:#222; margin:10px 0px 10px 10px; }
/* end of css for slider */

/*css for shapes */
.shp-effect{float:left; width:43%; font-size:95%; color:#424242; text-transform:uppercase; text-decoration:none; font-weight:bold; margin:2px 0px 2px 5px; padding:7px 0px 7px 6px; text-align:center; background:#fff; border:1px solid #ccc; box-shadow:inset 1px -1px 11px #eee; cursor: pointer; }
.c-two{ width:99%; margin:0px 0px 0px 0px!important; padding:0px; }
.c-two .c-two-two { width:46%; float:left; margin:5px 0px 0px 7px!important; padding:0px; }
.c-two .c-two-three { width:17%; text-align:left; float:left; margin:6px 0px 9px 5px!important; padding:0px; }
.c-two .c-two-def { font-size:120%; margin:7px 14px 5px 6px; padding:5px 0px 7px 6px; border-bottom:1px dashed #bebebe; }
.c-two .c-two-def:last-child { border-bottom:none; }
.c-two p{ font-size:120%; color:#424242; margin:10px 0px 10px 6px; padding:3px 0px; text-align:left; text-transform:capitalize; font-weight:bold; }
.c-two a { color:#424242; text-decoration:none; }
.c-two a:hover { color:#424242; text-decoration:none; }
/*end of css for shapes*/

.c-two .c-border { width:10%; font-size:130%; font-weight:normal; background:#fff; border:1px solid #ccc; padding:4px 15px; margin:0px 0px; } 
.c-two .c-two-def { font-size:120%; margin:7px 14px 5px 6px; padding:5px 0px 7px 6px; border-bottom:1px dashed #bebebe; }
.c-two .c-two-def:last-child { border-bottom:none; }
.c-two p{ font-size:120%; color:#424242; margin:10px 0px 10px 6px; padding:3px 0px; text-align:left; text-transform:capitalize; font-weight:bold; }
.c-two #txtClrVal, #txtBGClrVal, #txtOutline { width:19px; height:24px; margin:5px 0px 0px 0px; padding:0px 2px; position:relative; top:-7px; float:left; }
.c-two #txtHexavalue, #txtBGHexavalue, #txtOutlineHexavalue { width:60%; margin:-3px 0px 0px 3px; padding:0px; height:26px; }
.c-two a { color:#424242; text-decoration:none; }
.c-two a:hover { color:#424242; text-decoration:none; }
.dwnBoard {background:#457858; color:#fff; padding:9px 8px; margin:10px auto; border-radius:4px; width:65%; text-decoration:none;}
.dwnBoard a { color:#fff; text-decoration:none; font-size:115%; }
.c-two #txtClrVal, #txtOutline { width:19px; height:24px; margin:5px 0px 0px 0px; padding:0px 2px; position:relative; top:-7px; float:left; }
.c-two #txtHexavalue, #txtBGHexavalue, #txtOutlineHexavalue { width:60%; margin:-3px 0px 0px 3px; padding:0px 2px; }
.sub-tools .text-tool div { font-size:100%; margin:2px auto 5px auto; padding:0px; }
#txtTextSize { width:74%; }
.erase-btn { margin:25px 0px 0px 0px!important; padding:0px!important; }
.erase-btn:hover { background:#fafafa; margin:25px 0px 0px 0px!important; padding:0px!important; }
.bgcrcle { float:left; }
.picker {width:22px; height:22px; border-radius:20px; text-align:center; margin:2px 0px 0px -3px; padding:2px; cursor:pointer;}
.bgclpkr img { width:32px; height:27px; border:1px solid #ccc; margin:0px;}
.bgpatterns img {width:32px; height:27px; border:1px solid #ccc; margin:0px; position:relative;z-index:9999;}
.slides img {width:100px !important; border:1px solid #ccc; margin:0px;}
a.slidelink { margin:10px 5px 10px 5px; border:1px solid #ccc;}
.slider-tip { top:13px!important; }
.shcpick { width:24px; height:24px; margin:0px 3px 0px -22px; }
.cpick { width:24px; height:24px; margin:4px 3px 0px 0px; }
.input-align { height:27px; padding:0px 0px 0px 6px; margin:0px 0px 0px 0px; position:relative; top:-3px; width:35%; border:1px solid #e6e6e6; }
.l-btn-icon-left .l-btn-text { margin:0 4px 0 2px!important; }
.icon-bgcolor { background:url(https://ryzhak.com/public/tutorialspoint-webrtc/images/icon-bgColor.png) no-repeat center center!important; }
.icon-pencil { background:url(https://ryzhak.com/public/tutorialspoint-webrtc/images/icon-bgPencil.png) no-repeat center center!important; }
.icon-eraser { background:url(https://ryzhak.com/public/tutorialspoint-webrtc/images/icon-bgEraser.png) no-repeat center center!important; }
.icon-shapes { background:url(https://ryzhak.com/public/tutorialspoint-webrtc/images/icon-bgShape.png) no-repeat center center!important; }
.icon-text { background:url(https://ryzhak.com/public/tutorialspoint-webrtc/images/icon-bgText.png) no-repeat center center!important; }
.icon-upload { background:url(https://ryzhak.com/public/tutorialspoint-webrtc/images/icon-bgUpDwn.png) no-repeat center center!important; }
.icon-image { background:url(https://ryzhak.com/public/tutorialspoint-webrtc/images/icon-image.png) no-repeat center center!important; }
.fileupload {width:32px; height:27px;font-size:115%; color:#424242; position:relative; top:2px; margin:0px; padding:0px; cursor:pointer;}
.fileuploadph { width:50%; position:relative; top:-20px; margin:0px auto; padding:10px; cursor:pointer; }
#uploadForm , #btnUploadPattern{background:none!important;font-size:154%; color:#424242; margin:-6px -4px 0px 3px; padding:9px 10px; border:none!important; border-radius:4px; float:right; cursor:pointer; }
#defIcons { display:none; }
/*.sub-tools input[type="button"] {background:#228751; border:1px solid #044E26!important; padding:5px 12px; margin:0px 0px 10px 0px; color:#fafafa; font-size:100%; text-align:center; text-transform:uppercase; line-height:18px; border-radius:2px; border-radius:2px; border-bottom:3px solid #0B4225!important; border-bottom-left-radius:4px; border-bottom-right-radius:4px; outline:none; cursor:pointer; }
.sub-tools input[type="submit"] { background:#eee; border:1px solid #ccc!important; padding:5px 12px; margin:0px 0px 10px 4px; color:#424242;
font-size:100%; text-align:center; text-transform:uppercase; line-height:18px; border-radius:2px; border-radius:2px; outline:none; cursor:pointer; }
.sub-tools input[type="button"]:hover { background:#228751; color:#fafafa; }
.sub-tools input[type="submit"]:hover { background:#ccc; color:#424242; }*/
select { background:#fff; border:1px solid #ccc; width:95%; margin:4px 5px 5px 5px; padding:2px 0px; color:#424242; font-size:100%; height:32px;}
input[type="text"]{ background:#fff; border:1px solid #ccc; height:24px; margin:4px 2px 2px 0px; padding:0px 0px 0px 4px; }
textarea { width:90%; outline:none; background:#fff; border:1px solid #ccc; margin:10px 5px; padding:5px; text-align:left; vertical-align:middle; color:#000!important; font-size:120%; resize:none; }
input[type="file"] { width:60%; margin:0px auto; opacity:0; z-index:9999; position:relative; cursor:pointer; }
.fa-arrows-alt:before { content:"\f0b2"; font-family:'FontAwesome'; font-size:160%; font-style:normal; }
.fa-expand:before { content:"\f065"; font-family:'FontAwesome'; font-size:160%; font-style:normal; }
.fa-compress:before { content:"\f066"; font-family:'FontAwesome'; font-size:160%; font-style:normal; }
.fa-undo:before { content:"\f0e2"; font-family:'FontAwesome'; font-size:100%; font-style:normal; }
.fa-repeat:before { content:"\f01e"; font-family:'FontAwesome'; font-size:100%; font-style:normal; }
.db-nav {position:absolute; top:5px; right:1px; z-index:999;}
.db-nav a { background:#eee; color:#424242; margin:0px 5px 0px 0px; padding:7px 11px; text-decoration:none; float:left;  border:1px solid #D6D6D6; border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; -moz-border-radius:4px; }
.wrapLoader{width:100%;margin:0;height:5500px;position:absolute;background-color:#eee;opacity:.95;z-index:9999;display:none;}
.imgLoader{margin:0 auto;position:fixed;top:50%;left:50%}
.wtbrd-socl-links { position:absolute; bottom:10px; margin:0px 3px; border-top:1px dashed #ccc; padding:12px 8px 4px 8px; width:90%; text-decoration:none; }
.wtbrd-socl-links img { width:34px; height:34px; filter:gray; /* IE6-9 */ filter:grayscale(1); /* Firefox 35+ */ -webkit-filter:grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */ }

.wbitem { font-size:150%; }
.wr-lft-cont .sub-default .sub-default-lft { padding:10px 0px 9px 0px!important; margin:5px 2px 5px 1px!important; }
.wr-rgt .items a { width:30px; height:29px; text-align:center; background:#eee; color:#424242; margin:0px 5px 0px 0px; padding:2px 4px 4px 6px; text-decoration:none; float:left; border:1px solid #D6D6D6; border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; -moz-border-radius:4px; z-index:9999;}
.wr-rgt .items img{width:30px; height:29px; border-radius:60px; margin:0px 0px 0px -2px;}
.sub-float{width:240px!important;position:relative:z-index:9999;}
.h30{height:30px!important;}
.fa-fupload{font-size:130%;position:relative; top:-33px;}
.fa-dwnload{font-size:130%;position:relative; top:6px;}
.spinner {border-color:#d3d3d3; width:42px!important; height:35px!important; margin:0px 4px 0px 0px!important; border-radius:4px; -moz-border-radius:4px;}
.textbox .textbox-text{width:100%!important; height:26px!important;}
#dd{height:34px; margin:10px 0px 0px 0px; border:0px solid #D6D6D6; position:relative; right:-98px; border-radius:4px; -moz-border-radius:4px; }
.spinner-arrow{height:35px!important; border-top-right-radius:0px!important; border-bottom-right-radius:0px!important;}
.helpclas{position:relative; right:-172px; top:37px;}
.textdisplay{width:240px;position:relative; right:143px; top:10px; background:#eee; border:1px solid #d6d6d6; border-radius:4px; -moz-border-radius:4px;}